* {margin: 0;padding: 0; border: none;font-family: Helvetica, Arial, sans-serif;}
*:not(textarea) {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.fortext, .convert, .intextcode, .intextcodemin, .intextmin {
    position: fixed;
}
.fortext, .intextcode, .intextcodemin, .intextmin {
    color: white;
    text-shadow: 0 0 5px #000000;
}
.convert {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    cursor: pointer;
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00bfff+0,009fff+100 */
    background: #00bfff;
    background: -moz-linear-gradient(top,  #00bfff 0%, #009fff 100%);
    background: -webkit-linear-gradient(top,  #00bfff 0%,#009fff 100%);
    background: linear-gradient(to bottom,  #00bfff 0%,#009fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfff', endColorstr='#009fff',GradientType=0 );
}
.pageoverlaywhole {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.keyboardbutton {
    position: fixed;
    cursor: pointer;
    bottom: 0;
}
.keyboardshortcuts {
    display: none;
}
.keyboardshortcutstable {
    position: fixed;
    z-index: 5;
    background-color: white;
    width: 200px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eeeeee+100&amp;0.75+0,0.75+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0.75) 0%, rgba(238,238,238,0.75) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.75) 0%,rgba(238,238,238,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0.75) 0%,rgba(238,238,238,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff', endColorstr='#bfeeeeee',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
}
.keyboardshortcutstable table {
    width: 100%;
    padding: 10px;
}
.keyboardshortcutstable table tbody tr:first-child td {
    border: none;
    padding-top: 5px;
}
.keyboardshortcutstable table tbody tr td {
    border-top: 1px solid rgba(0,0,0,.25);
    text-align: center;
    padding: 3px;
    cursor: default;
}
.keyboardshortcutsarrow {
    position: fixed;
    z-index: 5;
    width: 20px;
    height: 20px;
    transform: rotateZ(45deg);
    background-color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,eeeeee+100&amp;0+0,0+49,0.75+51,0.5+100 */
background: -moz-linear-gradient(-45deg,  rgba(238,238,238,0) 0%, rgba(238,238,238,0) 49%, rgba(238,238,238,0.75) 51%, rgba(238,238,238,0.5) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(238,238,238,0) 0%,rgba(238,238,238,0) 49%,rgba(238,238,238,0.75) 51%,rgba(238,238,238,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(238,238,238,0) 0%,rgba(238,238,238,0) 49%,rgba(238,238,238,0.75) 51%,rgba(238,238,238,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eeeeee', endColorstr='#80eeeeee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,1);
-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,1);
box-shadow: 1px 1px 1px 0px rgba(0,0,0,1);
}
.keyboard {
    color: white;
    text-shadow: 0 0 5px #000000;
}
textarea {
    background: none;
    resize: none;
    border-bottom: 1px solid lightslategrey;
    border-top: 1px solid lightslategrey;
}
.fortext::-moz-selection {
    background: white;
}

textarea::selection {
    background: white;
}
body {
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#778899+0,576879+100 */
    background: #778899;
    background: -moz-linear-gradient(top,  #778899 0%, #576879 100%);
    background: -webkit-linear-gradient(top,  #778899 0%,#576879 100%);
    background: linear-gradient(to bottom,  #778899 0%,#576879 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#778899', endColorstr='#576879',GradientType=0 );
}
.fortextoverlaybottom, .intextcodeoverlaybottom, .intextcodeminoverlaybottom, .intextminoverlaybottom {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#475869+0,475869+100&amp;0.01+96,1+100 */
    background: -moz-linear-gradient(top,  rgba(71,88,105,0) 0%, rgba(71,88,105,0) 96%, rgba(71,88,105,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(71,88,105,0) 0%,rgba(71,88,105,0) 96%,rgba(71,88,105,1) 100%);
    background: linear-gradient(to bottom,  rgba(71,88,105,0) 0%,rgba(71,88,105,0) 96%,rgba(71,88,105,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03475869', endColorstr='#475869',GradientType=0 );
    position: fixed;
    z-index: 5;
    border-bottom: 1px solid black;
    pointer-events: none;
    display: none;
}
.fortextoverlaytop, .intextcodeoverlaytop, .intextcodeminoverlaytop, .intextminoverlaytop {
    background: -moz-linear-gradient(top, rgba(71,88,105,1) 0%, rgba(71,88,105,0) 4%, rgba(71,88,105,0) 100%);
    background: -webkit-linear-gradient(top, rgba(71,88,105,1) 0%, rgba(71,88,105,0) 4%, rgba(71,88,105,0) 100%);
    background: linear-gradient(to bottom, rgba(71,88,105,1) 0%, rgba(71,88,105,0) 4%, rgba(71,88,105,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03475869', endColorstr='#475869',GradientType=0 );
    position: fixed;
    z-index: 5;
    border-top: 1px solid black;
    pointer-events: none;
    display: none;
}
.intextcodeidentify, .intextminidentify, .intextcodeminidentify {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;1+0,0+100 */
background: -moz-linear-gradient(top,  rgba(31,48,65,1) 0%, rgba(31,48,65,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(31,48,65,1) 0%,rgba(31,48,65,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(31,48,65,1) 0%,rgba(31,48,65,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    
    position: fixed;
    text-align: right;
    height: auto;
    color: white;
    text-shadow: 0 0 5px #000;
    padding: 5px;
}